/*  estilos del home*/
#section-home {
  display: flex;
  padding-top: 10%;
  height: 100vh;
}
.section-izquierda {
  height: 100vh;
  width: 50%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  
}
.menu button {
  width: 100%;
  max-width: 120px;
  padding: 10px;
  border: 1px solid #ee9b00;
  font-weight: bold;
  font-size: 0.8em;
}
.section-derecha {
  width: 50%;
  height: 100vh;
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  place-content: center;
  padding-top: 8%;
  gap: 10px;
  text-align: center;
}
.list-menu p {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.breackfa {
  border: 1px solid #ee9b00;
  border-radius: 8px;
}
.list-menu img {
  max-width: 100%;
  width: 70px;
  height: 55px;
  padding-top: 7px;
}
.button-agregar {
  width: 100%;
  max-width: 110px;
  padding: 5px;
  background-color: #ee9b00;
  margin-bottom: 10px;
  font-size: 0.8em;
}
.tipo-menu-active {
  background-color: #ffd60a;
  font-weight: bold;
}
.button-menu:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}
.button-agregar:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}

/* estilos de la table */
.fa-trash {
  font-size: 20px;
}
.fa-minus{
  margin-right: 10px;
}
.fa-plus{
  margin-left: 10px;
}

/* Modo responsive*/
@media screen and (max-width: 750px) {
  #section-home {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .menu button {
    margin: 5px;
    width: 100%;
    max-width: 110px;
    height: 40px;
    padding: 8px;  
  }
  .section-izquierda {
    padding-top: 15%;
    margin: 0 auto;
    height: auto;
    
  }
  .section-derecha {
    margin: auto;
    width: 90%;
    height: auto;
    padding-top: 10px;
    
  }
  .button-table {
    display: block;
    margin: 0 auto;
  }
  .list-menu {
    display: grid;
    grid-template-columns: repeat(2, 80%);
    place-content: center;
  }
 .fa-minus{
 
 }
}
