.section-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../../assets/desenfocada2.png);
  background-size: cover;
}

.section-welcome h1 {
  font-size: 2em;
  letter-spacing: 10px;
  color: white;
}
.fa-mug-hot{
  color: white;

}

/* Modo responsive*/
@media (max-width: 650px) {
  .section-welcome h1 {
    text-align: center;
    font-size: 1em;
  }
}
