.section-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
  flex-direction: column;
 
}
.section-welcome img{
max-width: 100%;
width: 80px;
}

.section-welcome h1{
  font-size: 2em;
  letter-spacing: 5px;
  color: #005f73;
}


