/*  estilos del home*/
.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
  width: 50%;
}
.button-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}
.tipo-menu-active {
  background-color: #ffd60a;
  font-size: 0.8em;
  font-weight: bold;
}
.list-menu p{
  font-size: 18px;
}

.button-menu {
  max-width: 100%;
  width: 180px;
  padding: 5px;
  background-color: #ee9b00;
  font-size: 0.8em;
  font-weight: bold;
}
.button-menu:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-top: 40px;
  text-align: center;
  gap: 10px;
}
.list-menu img {
  max-width: 100%;
  width: 50px;
  height: 55px;
  padding-top: 5px;
}

.breackfa {
  border: 1px solid #ee9b00;
  margin: 10px;
  border-radius: 10px;
}
.button-agregar {
  width: 120px;
  padding: 5px;
  background-color: #ee9b00;
  margin-bottom: 10px;
  margin-top: 30px;
}
.button-agregar:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}

/* estilos de la table */

.item-table {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  position: absolute;
  right: 0;
  min-height: auto;
}
.button-table {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background-color: #ee9b00;
}
.button-table:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}
.fa-trash {
  color: #ca6702;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .section-home {
    width: 100%;
    display: block;
  }
  .button-home {
 display: flex;
    gap: 5px;
  }
  .button-menu {
    max-width: 100%;
    font-size: 14px; 
  }
  .breackfa {
   
    border-radius: 10px;
  }
  .item-table {
    width: 100%;
    min-height: auto;
  }
  
}
