/* Estilos de loading*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005f73;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #ee9b00;
    border-top-color: #dddddd;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  