@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
}

body {
  min-height: 100vh;
}
a{
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
   
}
input{
  border: none;
}

input[type="text"],
input[type="number"]{
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  
}
ul{
  list-style: none;
}
i{
  cursor: pointer;
  color: #ca6702;
}
.fa-pencil{
  font-size: 18px;
}
