/* Estilos del toas*/

.toast{
  width: 500px;
  height: 80px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  
  
}
.error{
  border-left: 8px solid #ff355b;
}
.error i{
  color: #ff355b;
}


.toast button{
  align-self: flex-start;
  background-color: transparent;
  font-size: 25px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
}
/* Estilos de login*/
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.section-login {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #0a9396;
  border-radius: 7px;
  position: relative;
}

.logo-burger {
  width: 100%;
  max-width: 100px;
  position: absolute;
  top: -60px;
  bottom: 0;
  right: 0;
  left: 36%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
h1 {
  font-size: 1.1rem;
  margin-top: 50px;
}
input[type="email"],
input[type="password"],
.boton-sign {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
label,
.boton-sign {
  margin-top: 1rem;
}

.boton-sign:hover{
  background-color: #ca6702;
  transform: scale(1.1);
}

.need-account {
  display: inline-block;
  font-size: 0.75rem;
  margin-top: 20px;
}
/* estilos del Nabvar*/
/* nav {
  width: 100%;
  height: 45px;
  background-color: #005f73;
  position: fixed;
  display: inline-block;
}

.logo-nav {
  height: 40px;
  padding-left: 10px;
  vertical-align: bottom;
}
.activity {
  padding-left: 55%;
}
.activity-1 {
  padding-left: 60px;
}
.fa-right-from-bracket{
  color: #ee9b00;
  
} */

.nav-burger{
  width: 100%;
  height: 50px;
  background-color: #005f73;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.nav-burger ul{
  display: flex;
  justify-content: space-between;
}
.nav-burger li{
  display: flex;
 align-items: center;
 
}
.nav-burger a{
  color: black;
 padding: 30px;
 
}
.nav-burger img {
  height: 40px;
 padding-left: 10px;
}
.nav-burger p{
  padding-left: 10px;
}
.fa-bars{
  padding-right: 30px;
  display: none;
}

/*  estilos del home*/
.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
  width: 50%;
}
.button-home {
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
gap: 40px;

}
.button-home button {
  width: 180px;
  padding: 5px;
  background-color: #ee9b00;
  font-size: 0.8em;
  font-weight: bold;
 
}
.button-breack:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}
.button-comida:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}
.list-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-top: 40px;
  text-align: center;
  gap: 20px;
 
}
.list-menu img {
  max-width: 100%;
  width: 50px;
  height: 55px;
  padding-top: 5px;
 
}


.fa-mug-hot{
  font-size: 40px;
  color: #ee9b00;
  padding-top: 10px;
}
.breackfa {
  border: 1px solid #ee9b00;
  margin: 10px;
  border-radius: 10px;
  
}
.button-agregar {
  width: 120px;
  padding: 5px;
  background-color: #ee9b00;
  margin-bottom: 10px;
  margin-top: 30px;
}
.button-agregar:hover {
  background-color: #ca6702;
  transform: scale(1.1);
}


/* estilos de la table */

.item-table {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  position: absolute;
  right: 0;
  min-height: 50vh;
}
table {
  width: 80%;
  height: auto;
  border-collapse: collapse;
  background-color: #94d2bd;
  border-radius: 7px;
}
th,
td {
 
  padding: 8px;
  text-align: left;
}

th {
  background-color: #005f73;
  color: white;
}
.button-table{
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background-color: #ee9b00;
 
}
.button-table:hover{
  background-color: #ca6702;
  transform: scale(1.1);
}
.fa-trash{
  color: #ca6702;
  
}

@media (max-width: 600px) {
  table,
  tr,
  th,
  td {
    display: block;
  }

  th {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    text-align: right;
    border: none;
    border-bottom: 1px solid #ddd;
  }
}

/* Estilos de loading*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #005f73;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ee9b00;
  border-top-color: #dddddd;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Responsive*/
/* @media (min-width: 768px) and (max-width: 992px) {
 nav{
  width: 100%;
  height: 100%;
  background-color: #005f73;
  position: fixed;
  display: inline-block;
 }
} */