/* Estilos del toas*/

.toast {
  width: 500px;
  height: 80px;
  padding: 20px;
  border-radius: 7px;

  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
}

.toast-success {
  width: 500px;
  height: 80px;
  padding: 20px;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 50%;
  left: calc(30%);
  right: 0;
  z-index: 1;
}
.error {
  border-left: 8px solid #ff355b;
  background-color: #ffffff;
}
.error i {
  color: #ff355b;
}

.success {
  border-left: 8px solid #4dff35;
  background-color: #ffffff;
}
.success i {
  color: #4dff35;
}

.toast button {
  align-self: flex-start;
  background-color: transparent;
  font-size: 25px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
}

.toast-success button {
  align-self: flex-start;
  background-color: transparent;
  font-size: 25px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
}
